[Unit]
Description=Data Extraction Python Script Service
After=network.target

[Service]
ExecStart=/bin/bash /home/bachatanow_app/data-extraction/run_script.sh
Restart=on-failure
RestartSec=5
User=bachatanow_app
WorkingDirectory=/home/bachatanow_app/data-extraction
StandardOutput=append:/home/bachatanow_app/data-extraction/service_output.log
StandardError=append:/home/bachatanow_app/data-extraction/service_error.log

[Install]
WantedBy=multi-user.target