[Unit]
Description=Data Extraction Python Script Service
After=network.target

[Service]
ExecStart=/home/bachatanow_app/data-extraction/venv/bin/python /home/bachatanow_app/data-extraction/main.py
Restart=on-failure
RestartSec=5
User=bachatanow_app
WorkingDirectory=/home/bachatanow_app/data-extraction
StandardOutput=append:/home/bachatanow_app/data-extraction/my_script.log
StandardError=append:/home/bachatanow_app/data-extraction/my_script.error.log

[Install]
WantedBy=multi-user.target